.form {
  width: 100%;
  max-width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  position: relative;
  padding: 0.5rem;

  h3 {
    margin: 3rem 0;
    text-align: center;
  }

  p {
    margin-bottom: 3rem;
    text-align: center;
  }

  .form-fields-container {
    width: inherit;
  }
}
