@import "../../sassStyles/variables";

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  .content-picture {
    width: 100%;
    flex: 1 1 30rem;
  }

  .content-text {
    width: 100%;
    height: auto;
    flex: 1 1 30rem;
  }
}
