@import "../../sassStyles/variables";

.footer-background {
  background-color: $color-main-style;

  .footer-title {
    color: white;
    font-size: 1.6rem;
    font-family: $lato;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  .footer_icons {
    text-align: center;
    a {
      color: white;
      margin: 0 1rem;
    }
  }

  .footer-title-sub {
    color: white;
    font-size: 1.6rem;
    font-family: $lato;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
    margin: 4rem 0 1rem 0;
  }

  .attributes-box {
    text-align: center;

    a {
      color: white;
      margin: 0 1rem;
      display: block;
      text-decoration: none;
      font-family: $lato;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}
