@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$lato: "Lato", sans-serif;
$kaushan-script: "Kaushan Script", cursive;

$color-main-style: #83652a;
$color-secondary-style: #e84393;
$color-main-style-97: #fcf9f4;
$color-main-style-71: #dbc08d;
$color-main-style-24: #5c471e;
$desire: #eb3b5a;

$grayscale-97: #f7f7f7;
$grayscale-80: #ccc;
$grayscale-70: #b3b3b3;
$grayscale-60: #999;
$grayscale-50: #808080;
$grayscale-40: #666;
$grayscale-30: #4d4d4d;
