@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$lato: "Lato", sans-serif;
$kaushan-script: "Kaushan Script", cursive;

$color-main-style: #83652a;
$color-main-style-97: #fcf9f4;
$color-main-style-71: #dbc08d;
$color-main-style-24: #5c471e;
$desire: #eb3b5a;
$midnight-blue: #2c3e50;
